<footer class="footer__section">
  <div class="central-container">
    <div class="flex-container">
      <div class="footer__arrow">
        <a class="footer__arrow-link" href="#header__link"><img class="footer__arrow-img"
            src="assets/images/ico-arrow.svg" alt="Flecha hacia arriba">
        </a>
      </div>

      <nav class="footer__navigation">
        <ul class="footer__navigation-list">
          <li class="footer__navigation-element"><a class="footer__navigation-link" href="#">Articles</a></li>
          <li class="footer__navigation-element"><a class="footer__navigation-link" href="#">Books</a></li>
          <li class="footer__navigation-element"><a class="footer__navigation-link" href="#">Events</a></li>
          <li class="footer__navigation-element"><a class="footer__navigation-link" href="#">Reasons</a></li>
          <li class="footer__navigation-element"><a class="footer__navigation-link" href="#">Tips</a></li>
        </ul>
      </nav>
      <aside class="footer__socialnetwork">
        <ul class="footer__socialnetwork-list">
          <li class="footer__socialnetwork-element"><a class="footer__navigation-link" href="#">Twitter</a></li>
          <li class="footer__socialnetwork-element"><a class="footer__navigation-link" href="#">Instagram</a></li>
          <li class="footer__socialnetwork-element"><a class="footer__navigation-link" href="#">Mastodon.social</a>
          </li>
        </ul>
      </aside>
      <div class="footer__copyclaim">
        <p class="footer__copy">&copy 2017
        </p>
        <p class="footer__claim">we <span class="footer__claim-heart">❤︎</span> components
        </p>
      </div>

    </div>
  </div>
</footer>
