.footer__section {
  background-color: #304268;
}

.flex-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer__arrow {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translateY(-22px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__navigation-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.footer__navigation-link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__socialnetwork-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.footer__socialnetwork-element {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__copy {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.footer__claim {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 45px;
}

.footer__claim-heart {
  color: #f26002;
}
