.footer__section {
  background-color: #304268;
}

.flex-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__arrow {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translateY(-22px);
  display: flex;
  justify-content: center;
  align-items: center;
/*   animation-name: inherit;
  animation-duration: 1.5s;
  animation-iteration-count: 1; */
}

/* @keyframes intro {
  from {
    transform: scale(1), rotate(0);
  }
  to {
    transform: scale(1.3), rotate(-50deg);
  }
} */

.footer__arrow-link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
}

.footer__navigation-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.footer__socialnetwork-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;

    a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
    }
}

.footer__copyclaim p {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.footer__claim {
  margin-bottom: 45px;
}

.footer__claim-heart {
  color: #f26002;
}

/* MEDIA QUERIE TABLET */

@media all and (min-width: 768px){
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .footer__arrow {
    position: absolute;
    top: 0;
    left: 48%;
  }
  .footer__copyclaim {
    order: 1;
    transform: translateY(-25px);
    text-align: left;
  }
  .footer__navigation {
    order: 2;
    margin-top: 45px;
  }
  .footer__socialnetwork {
    order: 3;
  }
}

/* MEDIA QUERY DESKTOP (no needed) */
