.hero__section {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero__flex-container {
/*   background: lime; */
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(50vh);
}

.hero__content {
  /* background: cyan; */
  width: 290px;
  text-align: center;
}

.hero__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  font-family:'Roboto Slab', serif;
  margin-top: 0;
}

.hero__p {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.hero__go-down {
  background: #ffffff;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateY(20vh);
}

.hero__go-down-link {
  margin-top: 5px;
}

/* MEDIA QUERY TABLET */

@media all and (min-width: 768px){
  .hero__content {
    width: 690px;
  }
  .hero__title {
    font-size: 80px;
    line-height: 106px;
  }
  .hero__p {
    font-size: 24px;
  }
  .hero__go-down {
    transform: translateY(0);
  }
}

/* MEDIA QUERIE DESKTOP */

@media all and (min-width: 1200px){
  .hero__title {
    font-size: 100px;
    line-height: 132px;
  }
}
