.tips__anchor {
  position: relative;
  top: -15px;
  left: 0;
}

.tips__section-title {
  color: #8ccbea;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 0;
}

.tips__content {
/*   background: cyan; */
 /*  width: 290px; */
  margin-top: 0;
}

.tips__content-title1 {
  color: #000000;
  font-family: 'Roboto Slab';
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
}

.tips__content-p1 {
  color: #4a4a4a;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 30px;
}

.tips__go {
  width: 76px;
  height: 45px;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  text-align: center;
  margin-bottom: 45px;
  transition: transform ease 0.3s/* , background-color ease 0.4 */;
}

.tips__go:hover {
  transform: scale(1.2);
  /* background-color: #f26002; */
}

/* .tips__button {
  width: 76px;
  height: 45px;
  border-style: none;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 45px;
  color: #f26002;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 45px;
} */

.tips__go-link {
  text-decoration: none;
  color: #f26002;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 45px;
  /* transition: color ease 0.2; */
}

/* .tips__go-link:hover {
  color: #ffffff;
} */

/* MEDIA QUERY TABLET */

@media all and (min-width: 768px) {
  .tips__content-title1 {
    font-size: 26px;
    line-height: 45px;
  }
  .tips__content-p1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tips__go {
    width: 91px;
    margin-bottom: 60px;
  }
}

@media all and (min-width: 1200px){
  .tips__section-title {
    font-size: 16px;
  }
  .tips__content-title1 {
    font-size: 32px;
  }
  .tips__go {
    width: 160px;
  }
}
